<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{!-- 삼성 GNB --}}

        <ul>
            <li>1</li>
            <li>12</li>
            <li>3</li>
        </ul>

        {{>slide1}}

        <div id="canv">
            CANVss
        </div>

        {{!-- <script src="./bundle.js"></script> --}}
    </body>
</html>