<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{!-- 삼성 GNB --}}

        {{>components/slide1}}

        <div id="canv">
            CANVs
        </div>
    </body>
</html>