<html>
    <head></head>
    <body>
        {{!-- 삼성 GNB --}}
        
        <ul>
            <li>1</li>
            <li>2</li>
            <li>4</li>
        </ul>

        {{>components/slide1}}

        <script src="bundle.js"></script>
    </body>
</html>